.Button
  width: 32px
  height: 32px
  padding: 0
  text-indent: -9999px
  background-size: 32px
  background-repeat: no-repeat
  background-position: center 
  &.ADD
    background-image: url("/images/add_64x64.png")
  &.EDIT
    background-image: url("/images/submit_64x64.png")
  &.DELETE
    background-image: url("/images/remove_64x64.png")
