@import "colors"

.FormAdd

  $b: 4px

  margin-bottom: $b

  > button.ADD
    width: 100%
    background-color: $lightGray

  button
    background-color: transparent

  input
    width: 520px - 32px - $b
    margin-right: $b
    height: 32px
    box-sizing: border-box
    border: solid 1px $lightGray
    padding-left: $b
