@import colors
@import global

$paddingLeft: $spacing * 8

@mixin calcWidth ($n)
  width: calc(100% - #{ $height * $n + $bottomSpacing * $n + $paddingLeft })

.Item

  $paddingHorizontal: 8px

  .ItemBodyWrap
    height: $height
    &.isDisabled
      opacity: 0.4

  .ItemBody
    height: $height
    cursor: pointer
    background-color: $lightGray
    border-radius: $borderRadius

    &.showButtons
      background-color: transparent
      button, a.info
        visibility: visible
        opacity: 1
        transition: background-color .2s

    &.showAddButton
      > span
        @include calcWidth(3)

    &.showDrop
      background-color: transparent
      > span
        @include calcWidth(1)
      .ItemAddDrop
        width: $height + $bottomSpacing
        display: inline-block
        button
          visibility: visible
          opacity: 1

    > span
      display: inline-block
      @include calcWidth(2)
      vertical-align: top
      text-align: left
      height: $height
      padding-left: $paddingLeft
      border-radius: $borderRadius
      background-color: $lightGray
      transition: background-color .2s
      &:hover
        background-color: lighten($lightGray, 2%)

      span.ItemData
        display: inline-block
        line-height: $height - $paddingHorizontal * 2
        padding-top: $paddingHorizontal

      a.info
        visibility: hidden
        display: inline-block
        width: $height
        height: $height
        float: right
        line-height: $height
        text-align: center
        text-decoration: none
        color: $black
        user-select: none

    button
      vertical-align: top
      visibility: hidden
      opacity: 0
      width: $height
      height: $height
      background-color: $lightGray
      border-radius: $borderRadius
      margin-left: $bottomSpacing
      transition: background-color, opacity .2s, .2s
      &:hover
        background-color: lighten($lightGray, 2%)

  .ItemFormWrap
    padding: $bottomSpacing 0
    form
      input
        width: calc(100% - 50px)
        height: $height
        box-sizing: border-box
        border: solid 1px $lightGray
        border-radius: $borderRadius
        padding-left: $paddingLeft
      button
        background-color: $lightGray
        border-radius: $borderRadius
        margin-left: $bottomSpacing
        transition: background-color .2s
        width: $height
        height: $height
        vertical-align: top
        &:hover
          background-color: lighten($lightGray, 2%)
