@import colors
@import global
@import resolutions

.ItemOverview
  text-align: left
  max-width: $width
  margin: 24px auto

  @include small
    padding: 0 $bottomSpacing

  h1, h2, p, li
    margin-bottom: 12px

  li
    line-height: 1.6em
    padding-bottom: 12px
    border-bottom: solid 1px $green
    &:last-child
      border-bottom: none

  .small
    color: lighten($gray, 30%)
    font-size: 10px

  .pre
    white-space: pre-wrap
